/* user correction */
div.content div.contact-form textarea.large {height: 252px;}
div.content div.contact-form p span#form-id4 {display: block; background: rgb(238,238,238) url('../img/input-text-password.png') repeat-x; border: 1px solid rgb(221,221,221); border-radius: 4px; font: 1em/normal sans-serif; padding: 9px 0.5625rem 8px 0.5625rem;}