header .menu-switcher, header .search {
	display: none;
}
@media (max-width: 767px) {
	html, body {
		height: 100%;
	}
	header div.container,
	div.content div.container,
	div.content div.main,
	div[class*='page'] > footer {
		width: auto;
	}
	header,
	div.content:not(.modal) {
		min-width: 0;
		width: auto;
	}
	div.content[role='main'] {
		padding: 45px 30px 25px;
	}
	div.content[role='main'] + div.content {
		padding: 30px;
	}
	div[class*='page'] > footer {
		padding: 30px;
	}
	div.content h1 {
		text-align: left;
	}
	div.content table {
		width: 100%;
	}
	div.content blockquote {
		margin: 0 0 10px;
	}
	header nav.mainmenu {
		float: none;
		margin: 0;
		padding: 20px 0 0;
		text-align: center;
	}
	header nav.mainmenu li {
		float: none;
		margin: 0 15px 10px;
		display: inline-block;
	}
	header div.site-nav {
		display: none;
	}
	header div.quick-contact {
		clear: both;
		float: none;
		margin: 0;
		padding: 7px 0 25px;
		text-align: center;
	}
	header div.quick-contact p {
		display: inline-block;
		float: none;
		margin: 0 20px;
	}
	header div.quick-contact .we-call-back {
		display: none;
	}
	.homepage div.content div.main {
		display: none;
	}

	div.content h1 {
		line-height: 1.3;
	}
	div.content div.products{
		*zoom:1;
		margin: 0 0 30px;
	}
	div.content div.products:before,div.content div.products:after{display:table;content:"";}
	div.content div.products:after{clear:both;}
	div.content div.products .wrapper {
		display: none;
	}
	div.content div.products a.item {
		float: left;
		height: auto;
		padding: 0 0 37%;
		margin: 0 0 20px;
		width: 46.5%;
	}
	div.content div.products a.item:nth-of-type(even) {
		float: right;
	}
	div.content div.products a.item img {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		margin-bottom: 10px;
		height: auto!important;
	}
	div.content div.products a.item h2 {
		width: auto;
		right: 0;
		left: 0;
		padding: 12px 5px;
	}
	div.content div.articles{
		margin: 0;
	}
	div.content div.articles h3, div.content div.articles.news h3 {
		float: none;
		width: auto;
		margin-bottom: 25px;
	}
	div.content div.articles article {
		float: none;
	}
	div.homepage div.content div.articles article, div.homepage div.content div.articles.news article {
		width: auto;
		margin: 0 0 15px;
	}
	div.homepage div.content div.articles article figure {
		margin-bottom: 15px;
		max-width: 45%;
	}
	div.homepage div.content div.articles article figure img {
		max-width: 100%;
		height: auto!important;
	}
	div.content[role='main'] div.articles.news > .more {
		margin: 0;
		float: none;
		font-size: 1.12em;
		font-weight: bold;
	}
	div.content div.quick-contact {
		width: auto;
		float: none;
	}
	div.content div.articles article {
		margin: 0 0 40px;
		width: auto;
	}
	div.content div.articles article figure {
		width: auto;
		height: auto;
		overflow: visible;
	}
	div.content[role='main'] div.articles > p.more {
		margin: 0;
	}
	div.content[role='main'] div.articles:not(.news) > p.more a {
		display: block;
		border-radius: 0;
		padding: 10px;
	}
	div.content:not([role=main]) div.articles.news {
		float: none;
	}
	div.content:not([role=main]) div.articles.news article {
		margin-bottom: 40px;
	}
	div.content:not([role='main']) div.articles.news p:not(.time) {
		margin-bottom: 40px;
	}
	div.content a.ad {
		float: none;
	}
	div.content a.ad img {
		min-width: 0;
		height: auto!important;
	}
	div.content div.articles.news article {
		margin-bottom: 40px;
	}
	div.content div.bookmarks {
		border-radius: 0;
	}
	div.content div.bookmarks li {
		float: none;
	}
	div.content div.bookmarks li a {
		border-radius: 0!important;
	}

	div.content div.gallery:not(.main) {
		margin: 0 0 30px;
	}
	div.content div.gallery:not(.main) a.item {
		display: block;
		float: none;
		height: auto;
		margin: 0 0 30px 0;
		overflow: visible;
		width: auto;
		margin-bottom: 10px;
	}
	div.content div.gallery:not(.main) a.item img {
		display: block;
	}
	div.content div.attachments {
		margin: 0 0 30px;
	}
	div.content div.attachments a.item {
		float: none;
		display: block;
		margin: 0 0 30px;
		width: auto;
	}
	div.content div.contact-form input[type='text'], div.content form select, div.content div.contact-form textarea {
		width: 100%;
		max-width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	div.content form input[type='submit'], div.content form button[type='submit'], div.content form input[type='button'], div.content form button[type='button'] {
		padding: 9px 0 8px;
		width: 100%;
	}
	div.content div.contact-form fieldset.submit p.note {
		width: auto;
		float: none;
	}
	header div.products {
		position: relative;
		padding: 0;
	}
	header div.products .menu-switcher {
		position: absolute;
		top: -117px;
		right: 30px;
		cursor: pointer;
		display: block;
		float: right;
		height: 32px;
		width: 30px;
		overflow: hidden;
	}
	header div.products .menu-switcher span {
		background-color: rgb(0,159,227);
		display: block;
		height: 4px;
		position: absolute;
		width: 30px;
	}
	header div.products .menu-switcher span:nth-child(1) {
		-moz-transform-origin: left center;
		-ms-transform-origin: left center;
		-webkit-transform-origin: left center;
		transform-origin: left center;
		top: 0;
	}
	header div.products .menu-switcher span:nth-child(2) {
		opacity: 1;
		top: 13px;
	}
	header div.products .menu-switcher span:nth-child(3) {
		top: 26px;
		-moz-transform-origin: left center;
		-ms-transform-origin: left center;
		-webkit-transform-origin: left center;
		transform-origin: left center;
	}
	header.show-menu div.products .menu-switcher span:nth-child(1) {
		width: 46px;
		left: -4px;
		top: -2px;
		-moz-transform: rotate(38deg);
		-ms-transform: rotate(38deg);
		-webkit-transform: rotate(38deg);
		transform: rotate(38deg);
	}
	header.show-menu div.products .menu-switcher span:nth-child(2) {
		opacity: 0;
	}
	header.show-menu div.products .menu-switcher span:nth-child(3) {
		width: 46px;
		left: -3px;
		top: 26px;
		-moz-transform: rotate(-38deg);
		-ms-transform: rotate(-38deg);
		-webkit-transform: rotate(-38deg);
		transform: rotate(-38deg);
	}
	header div.products.level1 ul, header div.products.level2 ul {
		border: 0;
	}
	header div.products ul {
		border-radius: 0;
		position: relative;
		clear: both;
		width: auto;
		min-width: 0;
		display: block;
		max-height: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
		background: #fff;
	}
	header.show-menu div.products ul {
		max-height: 10000px;
		transition: background 0.35s linear 0s,  max-height 0.6s ease-in 0s;
		-moz-transition: background 0.35s linear 0s,  max-height 0.6s ease-in 0s;
		-o-transition: background 0.35s linear 0s,  max-height 0.6s ease-in 0s;
		-webkit-transition: background 0.35s linear 0s,  max-height 0.6s ease-in 0s;
	}
	header div.products li {
		display: block;
		margin: 0;
		font-size: 18px;
		line-height: 1.2;
		font-weight: bold;
		text-align: left;
		border-top: 1px solid rgb(1,35,122);
	}
	header div.products.level1 li a {
	    padding: 12px 30px 12px;
	    position: relative;
	    z-index: 2;
	}
	header div.products.level1 li:first-child a {
		padding-top: 27px;
	}
	header.show-menu div.search {
		display: block;
		padding: 30px;
		background: rgb(0,159,227);
	}
	header.show-menu div.search fieldset {
		margin: 0;
		padding: 0;
		border: 0;
	}
	header.show-menu div.search label {
		display: block;
		color: #fff;
		text-transform: uppercase;
		font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
		margin: 0 0 5px;
	}
	header.show-menu div.search label mark {
		position: relative;
		top: 8px;
		background: none;
		color: #aa0000;
		font-size: 22px;
		line-height: 1;
		display: inline-block;
	}
	header.show-menu div.search input[type="text"] {
		width: 75%;
		margin: 0;
		padding: 0;
		border: 0;
		float: left;
		padding: 8px 10px;
		height: 35px;
		border-radius: 5px 0 0 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	header.show-menu div.search button {
		float: left;
		width: 25%;
		margin: 0;
		padding: 0;
		border: 0;
		height: 35px;
		padding: 8px 0;
		border-radius: 0 5px 5px 0;
		background: rgb(1,35,122);
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html.show-menu body {
		background: rgb(0,159,227);
	}
	html.show-menu .content, html.show-menu footer {
		display: none;
	}
	html.show-menu header {
		display: block;
	}
}
@media (max-width: 480px) {
	div.content div.products a.item {
		width: 100%;
		padding: 0 0 50%;
	}
	div.content div.products a.item img {
		min-width: 100%;
	}
	div.homepage div.content div.articles article figure {
		float: none;
		margin-right: 0;
		margin-bottom: 0;
		max-width: none;
	}
	div.homepage div.content div.articles.news p.time {
		top: 0;
	}
	div.content div.articles h3, div.content div.articles.news h3 {
		margin: 10px 0;
	}
	div.homepage div.content div.articles article, div.homepage div.content div.articles.news article {
		margin-bottom: 40px;
	}
	div.content div.gallery:not(.main) a.item img {
		max-width: 100%;
		height: auto!important;
	}
}