/* WWW..CZ, MEDIA PRINT */


/* zakladni nastaveni */


body
{
background: rgb(255,255,255) !important;
color: rgb(0,0,0) !important;
font: 10pt/130% sans-serif;
margin: 0 !important;
padding: 0 !important;
position: relative;
text-shadow: none !important;
filter: none !important;
-ms-filter: none !important;
}

h1
{
font: bold 12.5pt/130% sans-serif;
}

h2
{
font: bold 12pt/130% sans-serif;
}

h3
{
font: bold 11.5pt/130% sans-serif;
}

h4
{
font: bold 11pt/130% sans-serif;
}

h5
{
font: bold 10.5pt/130% sans-serif;
}

h6
{
font: bold 10pt/130% sans-serif;
}

p
{
widows: 2;
orphans: 2;
}

a, a:link, a:active, a:visited
{
color: rgb(0,0,0);
}

a:after
{
content: " {"attr(href)"}";
}

ol, ul
{
page-break-before: avoid;
page-break-inside: avoid;
}

hr
{
background: rgb(0,0,0);
color: rgb(0,0,0);
}

table
{
border-collapse: collapse;
margin: 10px 0 10px 0;
}

tr
{
page-break-inside: avoid;
}

th, td
{
border: 1px solid rgb(0,0,0);
color: rgb(0,0,0);
font: 10pt/normal sans-serif;
padding: 0 3px 0 3px;
page-break-inside: avoid;
text-align: left;
vertical-align: top;
}

div, span
{
background: none !important;
}


/* zobrazeni spravnych vrstev */


div.content
{
background: none !important;
border: none !important;
margin: 40pt 0 0 0;
padding: 0;
}

header, footer, div.nav-skip, div.main.slider, a[id*='fancybox']
{
display: none;
}