/* WWW.???.CZ, MEDIA SCREEN */


@font-face
{
font-family: BrandonGrotesqueLi;
src: url('../fonts/brandon_light-webfont.eot');
src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_light-webfont.woff') format('woff'), url('../fonts/brandon_light-webfont.ttf') format('truetype'), url('../fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: BrandonGrotesqueReg;
src: url('../fonts/brandon_reg-webfont.eot');
src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face
{
font-family: BrandonGrotesqueMed;
src: url('../fonts/brandon_med-webfont.eot');
src: url('../fonts/brandon_med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_med-webfont.woff') format('woff'), url('../fonts/brandon_med-webfont.ttf') format('truetype'), url('../fonts/brandon_med-webfont.svg#brandon_grotesquemedium') format('svg');
font-weight: normal;
font-style: normal;
}


audio:not([controls])
{
display: none;
}

::selection, ::-moz-selection
{
background: rgb(0,159,227);
color: rgb(255,255,255);
text-shadow: none;
}

html
{
background: rgb(255,255,255);
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

body
{
color: rgb(0,0,0);
font: normal normal normal 1em/normal sans-serif;
margin: 0;
padding: 0;
}

a:focus
{
outline: thin dotted;
}

abbr
{
cursor: help;
}

blockquote, q
{
quotes: none;
}

dl, form, h1, h2, h3, h4, h5, h6, ol, p, ul
{
margin: 0;
padding: 0;
}

form label
{
cursor: pointer;
}

form button, form input[type='button'], form input[type='submit'], form input[type='reset']
{
cursor: pointer;
margin: 0;
padding: 0;
-webkit-appearance: button;
}

form button[disabled], form input[disabled]
{
cursor: default;
}

form button::-moz-focus-inner, form input::-moz-focus-inner
{
border: 0;
padding: 0;
}

form input[type='text'], form input[type='password'], form select
{
margin: 0;
}

form textarea
{
margin: 0;
resize: none;
vertical-align: top;
}

hr
{
border: none;
margin: 0;
}

img
{
display: inline-block;
}

a img
{
border: none;
}

ol li
{
list-style-type: decimal;
}

ul li
{
list-style-type: square;
}

pre
{
white-space: pre-wrap;
}

table
{
margin: 0;
}

div.wrapper
{
clear: both;
}

span.ico
{
overflow: hidden !important;
position: absolute;
}

a span.ico
{
cursor: pointer;
}


/* STRANKA */


div.nav-skip
{
left: -10000px;
position: absolute;
}


/* HLAVICKA: hlavni menu, site navigace, logo, rychly kontakt, produktove menu */


header
{
background: rgb(1,35,122);
min-width: 64em;
width: 100%;
}

header div.container
{
margin: 0 auto 0 auto;
width: 60em;
}

header div.site-nav + div.wrapper
{
background: url('../img/header-wrapper.png') center bottom no-repeat;
height: 9px;
}


/* hlavni menu */


header nav.mainmenu
{
float: left;
margin: 11px 0 0 30px;
}

header nav.mainmenu li
{
float: left;
font: 0.75em/18px BrandonGrotesqueReg, sans-serif;
list-style: none;
margin: 0 26px 0 0;
text-transform: uppercase;
}

header nav.mainmenu li:last-child
{
margin-right: 0;
}

header nav.mainmenu a
{
color: rgb(0,159,227);
text-decoration: none;
}

header nav.mainmenu a:hover
{
color: rgb(255,255,255);
}


/* site navigace */


header div.site-nav
{
float: right;
margin: 11px -5px 1px 20px;
}

header div.site-nav li
{
font: 0.65em/1 Tahoma, 'Lucida Grande CE', lucida, sans-serif;
float: left;
list-style: none;
margin: 0 5px 0 0;
}

header div.site-nav li.home
{
height: 19px;
width: 21px;
}

header div.site-nav li.sitemap
{
height: 18px;
margin-top: 1px;
width: 23px;
}

header div.site-nav li.print
{
height: 19px;
width: 23px;
}

header div.site-nav li.mail
{
height: 19px;
width: 23px;
}

header div.site-nav li.search
{
height: 19px;
width: 19px;
}

header div.site-nav a
{
border: 5px solid rgb(1,35,122);
color: rgb(255,255,255);
display: block;
float: left;
overflow: hidden;
position: relative;
text-decoration: none;
}

header div.site-nav span.ico
{
left: 0;
top: 0;
}

header div.site-nav li.home a
{
height: 9px;
width: 11px;
}

header div.site-nav li.home span.ico
{
background: url('../img/icons-h.png') 0 center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 11px;
}

header div.site-nav li.home a.active span.ico, header div.site-nav li.home a:hover span.ico
{
background: url('../img/icons-h.png') -11px center no-repeat;
}

header div.site-nav li.sitemap a
{
height: 8px;
width: 13px;
}

header div.site-nav li.sitemap span.ico
{
background: url('../img/icons-h.png') -22px center no-repeat;
height: 8px;
width: 13px;
}

header div.site-nav li.sitemap a.active span.ico, header div.site-nav li.sitemap a:hover span.ico
{
background: url('../img/icons-h.png') -35px center no-repeat;
}

header div.site-nav li.print a
{
height: 9px;
width: 13px;
}

header div.site-nav li.print span.ico
{
background: url('../img/icons-h.png') -48px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 13px;
}

header div.site-nav li.print a:hover span.ico
{
background: url('../img/icons-h.png') -61px center no-repeat;
}

header div.site-nav li.mail a
{
height: 9px;
width: 13px;
}

header div.site-nav li.mail span.ico
{
background: url('../img/icons-h.png') -74px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 13px;
}

header div.site-nav li.mail a:hover span.ico
{
background: url('../img/icons-h.png') -87px center no-repeat;
}

header div.site-nav li.search a
{
height: 9px;
width: 9px;
}

header div.site-nav li.search span.ico
{
background: url('../img/icons-h.png') -100px center no-repeat;
height: 9px;
padding: 1px 0 0 0;
width: 9px;
}

header div.site-nav li.search a:hover span.ico
{
background: url('../img/icons-h.png') -109px center no-repeat;
}


/* logo */


header div.logo
{
float: left;
margin: 30px 0 30px 30px;
}

header div.logo a
{
display: block;
height: 40px;
width: 170px;
}


/* rychly kontakt */


header div.quick-contact
{
float: right;
margin: 40px 0 0 0;
}

header div.quick-contact p
{
color: rgb(221,221,221);
float: left;
font: 0.875em/18px BrandonGrotesqueLi, sans-serif;
margin: 0 0 0 35px;
position: relative;
text-transform: uppercase;
}

header div.quick-contact span.ico
{
height: 100%;
left: 0;
top: 0;
}

header div.quick-contact p b
{
color: rgb(255,255,255);
font: 1em BrandonGrotesqueReg, sans-serif;
}

header div.quick-contact p.call-us
{
padding: 0 0 0 24px;
}

header div.quick-contact p.call-us span.ico
{
background: url('../img/icons-h.png') -176px center no-repeat;
width: 18px;
}

header div.quick-contact a
{
color: rgb(221,221,221);
position: relative;
text-decoration: none;
}

header div.quick-contact p.write-us a
{
padding: 0 0 0 30px;
}

header div.quick-contact p.write-us span.ico
{
background: url('../img/icons-h.png') -118px center no-repeat;
padding: 1px 0 0 0;
width: 18px;
}

header div.quick-contact p.we-call-back a
{
padding: 0 0 0 23px;
}

header div.quick-contact p.we-call-back span.ico
{
background: url('../img/icons-h.png') -154px center no-repeat;
padding: 1px 0 0 0;
width: 11px;
}

header div.quick-contact a:hover
{
color: rgb(255,255,255);
}

header div.quick-contact p.write-us a:hover span.ico
{
background: url('../img/icons-h.png') -136px center no-repeat;
}

header div.quick-contact p.we-call-back a:hover span.ico
{
background: url('../img/icons-h.png') -165px center no-repeat;
}


/* produktova menu */


header div.products
{
padding: 1px 0 1px 0;
}

div.homepage header div.products.level1:last-child
{
padding-bottom: 0;
}

header div.products ul
{
box-sizing: border-box;
-moz-box-sizing: border-box;
border-radius: 4px;
margin: 19px auto 19px auto;
width: 60em;
}

div.homepage header div.products.level1:last-child ul
{
margin-bottom: 0;
}

header div.products.level1
{
background: rgb(1,35,122);
}

header div.products.level1 ul
{
background: rgb(0,159,227);
border: 1px solid rgb(0,159,227);
text-align: center;
}

header div.products.level2
{
background: rgb(0,159,227);
background: rgb(0,159,227);
}

header div.products.level2 ul
{
background: rgb(1,35,122) url('../img/products-level2-ul.png') left -1px repeat-x;
border: 1px solid rgb(1,35,122);
}

header div.products.level3
{
background: rgb(178,226,247);
}

header div.products.level3 ul
{
background: rgb(255,255,255) url('../img/products-level3-ul.png') left -1px repeat-x;
border: 1px solid rgb(255,255,255);
}

header div.products li
{
display: inline-block;
font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
list-style: none;
margin: 0 -4px 0 0;
text-transform: uppercase;
}

header div.products li:last-child
{
margin-right: 0;
}

header div.products.level2 li,
header div.products.level3 li
{
font: 0.8125em/18px BrandonGrotesqueReg, sans-serif;
}

header div.products a
{
display: block;
position: relative;
text-decoration: none;
}

header div.products.level1 a
{
background: rgb(0,159,227);
color: rgb(255,255,255);
padding: 10px 17px 9px 17px;
position: relative;
z-index: 2;
}

header div.products.level2 a
{
color: rgb(255,255,255);
padding: 11px 13px 9px 13px;
}

header div.products.level3 a
{
color: rgb(0,159,227);
padding: 11px 13px 9px 13px;
}

header div.products.level1 a:hover, header div.products.level1 a.active
{
background: rgb(1,35,122);
color: rgb(0,159,227);
}

header div.products.level2 a:hover, header div.products.level2 a.active
{
background: rgb(0,159,227);
color: rgb(1,35,122);
}

header div.products.level3 a:hover, header div.products.level3 a.active
{
background: rgb(178,226,247);
}

header div.products:not(.level3) a.active:after
{
border-style: solid;
bottom: -28px;
content: '';
height: 0;
left: 50%;
margin-left: -8px;
position: absolute;
width: 0;
border-width: 8px 8px 0 8px;
}

header div.products.level1 a.active:after
{
border-color: rgb(1,35,122) transparent transparent transparent;
}

header div.products.level2 a.active:after
{
border-color: rgb(0,159,227) transparent transparent transparent;
}

header div.products.level1 ul
{
overflow: hidden;
position: relative;
}

header div.products.level1 li:first-child:before,
header div.products.level1 li:last-child:after
{
background: rgb(1,35,122);
content: '';
display: none;
height: 100%;
width: 100px;
position: absolute;
top: 0;
}

header div.products.level1 li:first-child:before
{
left: 0;
}

header div.products.level1 li:last-child:after
{
right: 0;
}

header div.products.level1 li:first-child:hover:before,
header div.products.level1 li.active:first-child:before,
header div.products.level1 li:last-child:hover:after,
header div.products.level1 li.active:last-child:after
{
display: block;
}


/* OBSAH */


div.content address
{
font: 0.875em/20px sans-serif;
margin: 0 0 10px 0;
}

div.content blockquote
{
background: rgb(204,236,249);
color: rgb(1,35,122);
font: 1.125em/22px BrandonGrotesqueReg, sans-serif;
margin: 0 20px 10px 20px;
padding: 20px;
position: relative;
text-transform: uppercase;
}

div.content blockquote:before
{
content: '\201E';
}

div.content blockquote:after
{
content: '\201C';
}

div.content blockquote span.ico
{
background: url('../img/icons-h.png') -513px center no-repeat;
bottom: 0;
height: 20px;
right: 0;
width: 20px;
}

div.content h1
{
color: rgb(1,35,122);
font: 1.375em/18px BrandonGrotesqueReg, sans-serif;
margin: 0 0 28px 0;
text-align: center;
text-transform: uppercase;
}

div.content h2
{
color: rgb(1,35,122);
font: 1.125em/22px BrandonGrotesqueReg, sans-serif;
margin: 10px 0 4px 0;
text-transform: uppercase;
}

div.content h3
{
color: rgb(1,35,122);
font: 1em/18px BrandonGrotesqueReg, sans-serif;
margin: 16px 0 5px 0;
text-transform: uppercase;
}

div.content h4
{
color: rgb(1,35,122);
font: 0.9375em/17px BrandonGrotesqueReg, sans-serif;
margin: 20px 0 4px 0;
text-transform: uppercase;
}

div.content h5
{
color: rgb(1,35,122);
font: 0.875em/16px BrandonGrotesqueReg, sans-serif;
margin: 18px 0 3px 0;
text-transform: uppercase;
}

div.content h6
{
color: rgb(1,35,122);
font: 0.8125em/15px BrandonGrotesqueReg, sans-serif;
margin: 18px 0 2px 0;
text-transform: uppercase;
}

div.content hr
{
}

div.content p
{
font: 0.875em/20px sans-serif;
margin: 0 0 10px 0;
}

div.content pre
{
font: 0.875em/20px monospace;
margin: 0 0 10px 0;
}

div.content abbr
{
font: 1em sans-serif;
}

div.content b, div.content strong
{
font: bold 1em sans-serif;
}

div.content cite, div.content q
{
font: italic 1em sans-serif;
}

div.content code
{
font: 1em monospace;
}

div.content del
{
font: 1em sans-serif;
}

div.content dfn
{
font: 1em sans-serif;
}

div.content i, div.content em
{
font: italic 1em sans-serif;
}

div.content ins
{
font: 1em sans-serif;
text-decoration: none;
}

div.content kbd
{
font: 1em sans-serif;
}

div.content samp
{
font: 1em sans-serif;
}

div.content small
{
font: 0.8em sans-serif;
}

div.content sub
{
bottom: -0.25em;
font: 0.75%/1 sans-serif;
position: relative;
vertical-align: baseline;
}

div.content sup
{
font: 0.75%/1 sans-serif;
position: relative;
top: -0.5em;
vertical-align: baseline;
}

div.content ol
{
counter-reset: list;
margin: 0 0 10px 0;
}

div.content ul
{
margin: 0 0 10px 0;
}

div.content li ol, div.content li ul
{
margin-bottom: 0;
}

div.content ol li
{
font: 0.875em/20px sans-serif;
list-style: none;
margin: 0 0 3px 0;
padding: 0 0 0 1rem;
position: relative;
}

div.content ol li:before
{
color: rgb(1,35,122);
content: counter(list) '.';
counter-increment: list 1;
left: 0;
position: absolute;
top: 0;
}

div.content ul li
{
font: 0.875em/20px sans-serif;
list-style: none;
margin: 0 0 3px 0;
padding: 0 0 0 16px;
position: relative;
}

div.content ul li:before
{
color: rgb(1,35,122);
content: '\2022';
font: 19px/17px sans-serif;
left: 0;
position: absolute;
top: 2px;
}

div.content li ol li
{
font: 1em sans-serif;
}

div.content li ul li
{
font: 1em sans-serif;
}

div.content li ul li:before
{
color: rgb(0,159,227);
}

div.content dl
{
margin: 0 0 10px 0;
}

div.content dd
{
font: 0.875em/20px sans-serif;
}

div.content dt
{
font: 0.875em/20px sans-serif;
}

div.content a
{
color: rgb(1,35,122);
}

div.content a:hover
{
text-decoration: none;
}

div.content figure
{
margin: 0;
}

div.content figure figcaption
{
font: em sans-serif;
}

div.content table
{
border-collapse: collapse;
border-spacing: 0;
margin: 0 0 10px 0;
}

div.content table caption
{
background: rgb(0,159,227);
border-radius: 4px 4px 0 0;
color: rgb(255,255,255);
font: 0.8125em/18px BrandonGrotesqueReg, sans-serif;
padding: 7px 13px 5px 13px;
text-transform: uppercase;
}

div.content table thead th
{
background: rgb(0,159,227);
color: rgb(255,255,255);
font: 0.8125em/18px BrandonGrotesqueReg, sans-serif;
padding: 7px 13px 5px 13px;
text-transform: uppercase;
}

div.content table thead th:first-child
{
border-radius: 4px 0 0 0;
}

div.content table thead th:last-child
{
border-radius: 0 4px 0 0;
}

div.content table thead a
{
color: rgb(255,255,255);
}

div.content table tfoot td
{
border-bottom: 1px solid rgb(204,236,249);
font: 0.8125em/18px sans-serif;
padding: 5px 13px 5px 13px;
}

div.content table tbody th
{
border-bottom: 1px solid rgb(204,236,249);
font: 0.8125em/18px sans-serif;
padding: 5px 13px 5px 13px;
}

div.content table tbody td
{
border-bottom: 1px solid rgb(204,236,249);
font: 0.8125em/18px sans-serif;
padding: 5px 13px 5px 13px;
}

div.content iframe
{
border: none;
}

div.content object
{
border: none;
}

div.content form fieldset
{
border: none;
margin: 0;
padding: 0;
}

div.content form label
{
display: inline-block;
font: 1em BrandonGrotesqueReg, sans-serif;
padding: 0 0 4px 0;
text-transform: uppercase;
}

div.content form legend
{
font: 1em sans-serif;
}

div.content form input[type='text'], div.content form input[type='password']
{
background: rgb(238,238,238) url('../img/input-text-password.png') repeat-x;
border: 1px solid rgb(221,221,221);
border-radius: 4px;
font: 1em/normal sans-serif;
padding: 9px 0.5625rem 8px 0.5625rem;
}

form input[type='radio'] + label, form input[type='checkbox'] + label
{
float: none;
width: auto;
}

div.content form input[type='submit'], div.content form button[type='submit'], div.content form input[type='button'], div.content form button[type='button']
{
background: rgb(1,35,122);
border: none;
border-radius: 4px;
color: rgb(255,255,255);
font: 1em BrandonGrotesqueReg, sans-serif;
padding: 9px 115px 8px 115px;
text-transform: uppercase;
}

div.content form input[type='submit']:hover, div.content form button[type='submit']:hover, div.content form input[type='button']:hover, div.content form button[type='button']:hover
{
background: rgb(0,159,227);
color: rgb(255,255,255);
}

div.content form textarea
{
background: rgb(238,238,238) url('../img/textarea.png') repeat-x;
border: 1px solid rgb(221,221,221);
border-radius: 4px;
font: 1em/normal sans-serif;
padding: 9px 0.5625rem 8px 0.5625rem;
}

div.content form select
{
border: 1px solid rgb(221,221,221);
border-radius: 4px;
font: 1em/normal sans-serif;
padding: 9px 0.5625rem 8px 0.5625rem;
}

div.content p.time
{
margin-bottom: 0;
}

div.content time
{
font: 1em BrandonGrotesqueLi, sans-serif;
}

div.content img
{
background: url('../img/loading.gif') center center no-repeat;
min-height: 40px;
min-width: 40px;
}


div.content:not(.modal)
{
min-width: 64em;
width: 100%;
}

div.content:not([role=main]):not(.modal)
{
background: rgb(1,35,122);
}

div.content[role='main']
{
padding: 49px 0 0 0;
}

div.content[role='main'] + div.content
{
border-bottom: 1px solid rgb(238,238,238);
border-top: 1px solid rgb(238,238,238);
background: none;
padding: 30px 0 30px 0;
}

div.content div.container
{
margin: 0 auto 0 auto;
width: 60em;
}


/* hlavni (slider) */


div.content div.main
{
margin: 0 auto 0 auto;
width: 60em;
}

div.content div.main.slider
{
width: 64em;
}

div.content div.main:not(.slider) div.item:not(:first-child)
{
display: none;
}

div.content div.main div.data
{
float: left;
margin: 0 0 0 1.875em;
padding: 30px 0 0 0;
width: 24.375em;
}

div.content div.main div.data p
{
color: rgb(255,255,255);
font: 0.875em/18px sans-serif;
}

div.content div.main div.data p:first-child
{
font: 1.5em/29px BrandonGrotesqueMed, sans-serif;
text-transform: uppercase;
}

div.content div.main div.data p:first-child a
{
color: rgb(255,255,255);
text-decoration: none;
}

div.content div.main div.figure
{
float: right;
margin: 0 1.875em 0 0;
height: 260px;
width: 487px;
}

div.content div.main.slider div.bx-wrapper
{
margin-left: 33px !important;
margin-right: 33px !important;
position: relative;
}

div.content div.main.slider div.bx-controls
{
position: absolute;
top: 106px;
width: 100%;
}

div.content div.main.slider div.bx-controls-direction a
{
color: rgb(255,255,255);
display: block;
font: 1em/50px Tahoma;
height: 50px;
overflow: hidden;
position: absolute;
text-align: center;
text-decoration: none;
width: 33px;
}

div.content div.main.slider div.bx-controls-direction a.bx-prev
{
left: -33px;
}

div.content div.main.slider div.bx-controls-direction a.bx-next
{
right: -33px;
}

div.content div.main.slider div.bx-controls-direction a span.ico
{
height: 50px;
left: 0;
top: 0;
width: 33px;
}

div.content div.main.slider div.bx-controls-direction a.bx-prev span.ico
{
background: url('../img/icons-h.png') -194px center no-repeat;
}

div.content div.main.slider div.bx-controls-direction a.bx-prev:hover span.ico
{
background: url('../img/icons-h.png') -227px center no-repeat;
}

div.content div.main.slider div.bx-controls-direction a.bx-next span.ico
{
background: url('../img/icons-h.png') -260px center no-repeat;
}

div.content div.main.slider div.bx-controls-direction a.bx-next:hover span.ico
{
background: url('../img/icons-h.png') -292px center no-repeat;
}


/* graficky vypis produktu */


div.content div.products
{
margin: 0 0 30px -1.875em;
}

div.content div.products a.item
{
display: block;
float: left;
height: 225px;
margin: 0 0 30px 1.875em;
overflow: hidden;
position: relative;
width: 18.75em;
}

div.content div.products a.item h2
{
background: rgba(255,255,255,0.7);
bottom: 0;
margin-bottom: 0;
margin-top: 0;
padding: 15px 0 15px 0;
position: absolute;
text-align: center;
width: 100%;
}

div.content div.products a.item:hover h2
{
background: rgba(102,102,102,0.5);
color: rgb(255,255,255);
height: 100%;
padding-bottom: 0;
padding-top: 0;
}

div.content div.products a.item:hover h2 span
{
display: block;
left: 0;
position: absolute;
text-align: center;
top: 45%;
width: 100%;
}

div.content div.products a.item.ad h2
{
background: rgba(145,0,0,0.7);
color: rgb(255,255,0);
}


/* cesta zanoreni */


div.content div.path
{
border: 1px solid rgb(204,204,204);
border-radius: 4px;
margin: 30px 0 30px 0;
}

div.content div.path li
{
color: rgb(204,204,204);
float: left;
font: 0.8125em/normal BrandonGrotesqueReg, sans-serif;
margin: 0;
padding: 11px 16px 9px 10px;
text-transform: uppercase;
}

div.content div.path li:before
{
display: none;
}

div.content div.path li span.ico
{
background: url('../img/icons-h.png') -533px center no-repeat;
height: 100%;
right: 0;
top: 0;
width: 11px;
}

div.content div.path a
{
color: rgb(204,204,204);
display: block;
position: relative;
text-decoration: none;
}

div.content div.path a:hover
{
color: rgb(187,187,187);
}


/* detail clanku, galerie */


div.content div.gallery:not(.main)
{
clear: both;
margin: 0 0 -30px -30px;
padding: 10px 0 0 0;
}

div.content div.gallery:not(.main) a.item
{
float: left;
height: 225px;
margin: 0 0 30px 30px;
overflow: hidden;
position: relative;
width: 300px;
}

div.content div.gallery p
{
margin-bottom: 0;
}

div.content div.gallery p.caption
{
background: rgba(102,102,102,0.5);
color: rgb(255,255,255);
display: none;
font: 1.25em/24px BrandonGrotesqueReg, sans-serif;
height: 100%;
left: 0;
position: absolute;
text-align: center;
text-transform: uppercase;
top: 0;
width: 100%;
}

div.content div.gallery p.caption span
{
display: block;
left: 0;
position: absolute;
text-align: center;
top: 45%;
width: 100%;
}

div.content div.gallery a:hover p.caption
{
display: block;
}

div.content div.gallery.main
{
margin: 0 0 7px 0;
}

div.content div.gallery.main a:first-child
{
float: left;
display: inline-block;
margin: 0 30px 0 0;
min-height: 437px;
overflow: hidden;
}

div.content div.gallery.main a:first-child img
{
margin: 0 0 -4px 0;
}

div.content div.gallery.main a:not(:first-child)
{
display: inline-block;
height: 225px;
margin: 0 0 20px 0;
overflow: hidden;
position: relative;
width: 300px;
}


/* detail clanku, prilohy */


div.content div.attachments
{
clear: both;
margin: 0 0 -30px -30px;
padding: 10px 0 0 0;
}

div.content div.attachments a.item
{
border: 1px solid rgb(238,238,238);
float: left;
margin: 0 0 30px 30px;
min-height: 88px;
padding: 0 0.75em 0 76px;
position: relative;
text-decoration: none;
width: 13.125em;
}

div.content div.attachments a.item span.ico
{
background: url('../img/icons-h.png') -335px center no-repeat;
height: 64px;
left: 12px;
top: 11px;
width: 50px;
}

div.content div.attachments a.item:hover span.ico
{
background: url('../img/icons-h.png') -385px center no-repeat;
}

div.content div.attachments a.item span.ico span
{
height: 37px;
overflow: hidden;
position: absolute;
top: 17px;
width: 34px;
}

div.content div.attachments a.item.plaintext span.ico span
{
background: url('../img/icons-h.png') -679px center no-repeat;
margin: 0 0 0 11px;
width: 24px;
}

div.content div.attachments a.item.document span.ico span
{
background: url('../img/icons-h.png') -544px center no-repeat;
margin: 0 0 0 11px;
width: 24px;
}

div.content div.attachments a.item.spreadsheet span.ico span
{
background: url('../img/icons-h.png') -621px center no-repeat;
margin: 0 0 0 11px;
width: 24px;
}

div.content div.attachments a.item.presentation span.ico span
{
background: url('../img/icons-h.png') -595px center no-repeat;
margin: 0 0 0 10px;
width: 26px;
}

div.content div.attachments a.item.image span.ico span
{
background: url('../img/icons-h.png') -651px center no-repeat;
margin: 0 0 0 9px;
width: 28px;
}

div.content div.attachments a.item.archive span.ico span
{
background: url('../img/icons-h.png') -645px center no-repeat;
margin: 0 0 0 20px;
padding: 1px 0 0 0;
width: 6px;
}

div.content div.attachments a.item.pdf span.ico span
{
background: url('../img/icons-h.png') -568px center no-repeat;
margin: 0 0 0 11px;
padding: 1px 0 0 0;
width: 27px;
}

div.content div.attachments a.item p:first-child
{
font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
margin: 14px 0 2px 0;
text-transform: uppercase;
}

div.content div.attachments a.item p:first-child strong
{
font: 1em BrandonGrotesqueReg, sans-serif;
}

div.content div.attachments p.type
{
color: rgb(0,0,0);
font: 0.75em/15px sans-serif;
}


/* detail clanku, formulare */


div.content div.form:not(.modal-form)
{
clear: both;
padding: 10px 0 0 0;
}

div.content div.form p.message
{
border-radius: 4px;
font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
padding: 12px 10px 10px 40px;
position: relative;
text-transform: uppercase;
}

div.content div.form p.message.success
{
background: rgb(0,159,227);
color: rgb(255,255,255);
}

div.content div.form p.message.fault
{
background: rgb(170,0,0);
color: rgb(255,255,255);
}

div.content div.form p.message.success span.ico
{
background: url('../img/icons-h.png') -435px center no-repeat;
height: 100%;
left: 16px;
padding: 1px 0 0 0;
top: 0;
width: 10px;
}

div.content div.form p.message.fault span.ico
{
background: url('../img/icons-h.png') -445px center no-repeat;
height: 100%;
left: 17px;
top: 0;
width: 8px;
}

div.content div.form p.note
{
font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
margin-bottom: 0;
margin-top: 10px;
text-transform: uppercase;
}

div.content div.form mark
{
background: none;
color: rgb(170,0,0);
display: inline-block;
font: 1.4em/17px BrandonGrotesqueReg, sans-serif;
position: relative;
top: 4px;
}

div.content p.fault *
{
color: rgb(170,0,0);
}

div.content p.fault input[type='text'], div.content p.fault textarea
{
border: 1px solid rgb(170,0,0);
}

div.content div.form div.newListSelected
{
background: rgb(238,238,238) url('../img/newListSelected.png') repeat-x;
border: 1px solid rgb(221,221,221);
border-radius: 4px;
color: rgb(102,102,102);
position: relative !important;
}

div.content div.form div.newListSelected:hover
{
cursor: pointer;
}

div.content div.form div.newListSelected div.selectedTxt
{
font: 0.875em/normal sans-serif;
margin-right: 20px;
padding: 9px 0.5625rem 9px 0.5625rem;
}

div.content div.form div.newListSelected div.SSContainerDivWrapper
{
background: rgb(255,255,255);
border: 1px solid rgb(221,221,221);
border-radius: 4px;
height: auto !important;
left: -1px !important;
position: absolute;
top: 2.3em !important;
z-index: 2 !important;
width: 100%;
}

div.content div.form div.newListSelected ul.newList
{
height: auto !important;
margin: 0;
padding: 0 10px 0 10px;
}

div.content div.form div.newListSelected ul.newList li
{
border-bottom: 1px solid rgb(221,221,221);
font: 0.875em/normal sans-serif;
margin-bottom: 0;
padding: 10px 0 10px 0;
}

div.content div.form div.newListSelected ul.newList li:before
{
display: none;
}

div.content div.form div.newListSelected ul.newList li:last-child
{
border-bottom: none;
}

div.content div.form div.newListSelected ul.newList li a
{
color: rgb(102,102,102);
text-decoration: none;
}

div.content div.form div.newListSelected ul.newList li a:hover
{
color: rgb(0,0,0);
}

div.content div.form div.newListSelected ul.newList li:first-child a:hover
{
color: rgb(102,102,102);
}

div.content div.form div.newListSelected div.dropdown
{
background: url('../img/icons-h.png') -453px center no-repeat;
height: 8px;
overflow: hidden;
position: absolute;
right: 14px;
top: 14px;
width: 12px;
}

div.content div.form div.newListSelected:hover div.dropdown
{
background: url('../img/icons-h.png') -465px center no-repeat;
}

div.content div.form input.datepicker
{
background-color: rgb(238,238,238);
background: url('../img/datepicker.png') right center no-repeat, url('../img/input-text-password.png') repeat-x;
cursor: pointer;
}

div.content div.form input.datepicker:hover
{
background-color: rgb(238,238,238);
background: url('../img/datepicker-hover.png') right center no-repeat, url('../img/input-text-password.png') repeat-x;
}

div.ui-datepicker a.ui-datepicker-prev, div.ui-datepicker a.ui-datepicker-next
{
cursor: pointer;
font: 0.6em/12px Tahoma, 'Lucida Grande CE', lucida, sans-serif;
height: 12px;
position: absolute;
text-align: center;
top: 14px;
width: 8px;
}

div.ui-datepicker a.ui-datepicker-prev.ui-state-disabled
{
display: none;
}

div.ui-datepicker a.ui-datepicker-prev
{
left: 10px;
}

div.ui-datepicker a.ui-datepicker-next
{
right: 10px;
}

div.ui-datepicker a.ui-datepicker-prev span.ui-icon, div.ui-datepicker a.ui-datepicker-next span.ui-icon
{
height: 12px;
left: 0;
overflow: hidden;
position: absolute;
top: 0;
width: 8px;
}

div.ui-datepicker a.ui-datepicker-prev span.ui-icon
{
background: url('../img/icons-h.png') -703px center no-repeat;
}

div.ui-datepicker a.ui-datepicker-prev:hover span.ui-icon
{
background: url('../img/icons-h.png') -711px center no-repeat;
}

div.ui-datepicker a.ui-datepicker-next span.ui-icon
{
background: url('../img/icons-h.png') -719px center no-repeat;
}

div.ui-datepicker a.ui-datepicker-next:hover span.ui-icon
{
background: url('../img/icons-h.png') -727px center no-repeat;
}

div.ui-datepicker div.ui-datepicker-title
{
background: rgb(255,255,255);
border-color: rgb(221,221,221);
border-radius: 4px 4px 0 0;
border-style: solid;
border-width: 1px 1px 0 1px;
color: rgb(102,102,102);
font: bold 0.875em/normal sans-serif;
padding: 13px 0 9px 0;
text-align: center;
}

div.ui-datepicker table.ui-datepicker-calendar
{
border-collapse: collapse;
width: 308px;
}

div.ui-datepicker table.ui-datepicker-calendar th, div.ui-datepicker table.ui-datepicker-calendar td
{
border: 1px solid rgb(221,221,221);
font: 0.875em/normal sans-serif;
min-width: 18px;
padding: 4px 5px 3px 5px;
text-align: center;
}

div.ui-datepicker table.ui-datepicker-calendar th
{
background: rgb(255,255,255);
color: rgb(0,0,0);
}

div.ui-datepicker table.ui-datepicker-calendar td
{
background: rgb(255,255,255);
color: rgb(102,102,102);
}

div.ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-current-day
{
background: rgb(238,238,238);
}

div.ui-datepicker table.ui-datepicker-calendar td a
{
color: rgb(102,102,102);
text-decoration: none;
}

div.ui-datepicker table.ui-datepicker-calendar td a:hover
{
color: rgb(0,0,0);
}


/* detail clanku, kontaktni formular */


div.content div.contact-form fieldset.left-column
{
float: left;
width: 29.0625em;
}

div.content div.contact-form fieldset.right-column
{
float: right;
width: 29.0625em;
}

div.content div.contact-form fieldset.submit p.note
{
float: right;
width: 29.0625rem;
}

div.content div.contact-form p
{
margin-bottom: 19px;
}

div.content div.contact-form input[type='text']
{
width: 27.8125rem;
}

div.content div.contact-form textarea
{
height: 174px;
width: 27.8125rem;
}


/* zalozky + karty */


div.content div.bookmarks
{
background: rgb(1,35,122);
border-radius: 4px;
margin: 0 0 20px 0;
}

div.content div.bookmarks ul
{
margin-bottom: 0;
}

div.content div.bookmarks li
{
float: left;
font: 0.875em/18px BrandonGrotesqueReg, sans-serif;
margin: 0;
padding: 0;
text-transform: uppercase;
}

div.content div.bookmarks li:before
{
display: none;
}

div.content div.bookmarks a
{
color: rgb(255,255,255);
display: block;
padding: 12px 16px 10px 16px;
text-decoration: none;
}

div.content div.bookmarks li:first-child a
{
border-radius: 4px 0 0 4px;
}

div.content div.bookmarks samp
{
background: rgb(0,159,227);
border-radius: 50%;
color: rgb(255,255,255);
display: inline-block;
font: 1em/1 BrandonGrotesqueReg, sans-serif;
margin: -5px 0 -3px 2px;
min-width: 1.3125rem;
padding: 5px 0 3px 0;
text-align: center;
}

div.content div.bookmarks a:hover, div.content div.bookmarks a.active
{
background: rgb(0,159,227);
}

div.content div.bookmarks a:hover samp, div.content div.bookmarks a.active samp
{
background: rgb(255,255,255);
color: rgb(0,159,227);
}

div.content div.cards div.active
{
display: block;
}

div.content div.cards div.inactive
{
display: none;
}


/* vypis clanku/novinek */


div.content div.articles
{
margin: 0 0 0 -1.875em;
}

div.content:not([role=main]) div.articles.news
{
float: left;
margin-left: 0;
margin-right: 1.875em;
width: 18.75em;
}

div.content div.articles article
{
float: left;
margin: 0 0 9px 1.875em;
width: 18.75em;
}

div.homepage div.content div.articles article
{
width: 39.375em;
}

div.content div.articles.news article
{
margin-bottom: 15px;
}

div.content:not([role=main]) div.articles.news article
{
margin-left: 0;
width: 100%;
}

div.homepage div.content div.articles.news article
{
margin-bottom: 0;
position: relative;
width: 29.0625em;
}

div.content div.articles article h2
{
font: 1.25em/24px BrandonGrotesqueReg, sans-serif;
margin-bottom: 9px;
margin-top: 0;
}

div.homepage div.content div.articles article h2
{
font: 1.375em/26px BrandonGrotesqueReg, sans-serif;
margin-bottom: 16px;
}

div.content div.articles.news h2
{
clear: both;
margin-bottom: 5px;
}

div.content div.articles.news h3
{
float: left;
font: 1.125em/24px BrandonGrotesqueReg, sans-serif;
margin-bottom: 48px;
margin-top: 21px;
width: 15.3125rem;
}

div.content:not([role='main']) div.articles.news h3
{
float: right;
margin-bottom: 15px;
margin-top: 13px;
width: 14.6875rem;
}

div.content div.articles article h2 a, div.content div.articles article h3 a
{
text-decoration: none;
}

div.content div.articles article h2 a:hover, div.content div.articles article h3 a:hover
{
color: rgb(102,102,102);
}

div.content div.articles article figure
{
height: 225px;
margin: 0 0 12px 0;
overflow: hidden;
position: relative;
width: 300px;
}

div.homepage div.content div.articles article figure
{
float: left;
height: 150px;
margin: 0 20px 0 0;
width: 200px;
}

div.content div.articles.news article figure
{
float: left;
height: 150px;
margin-bottom: 10px;
width: 200px;
}

div.content div.articles article figcaption
{
background: rgba(102,102,102,0.5);
color: rgb(255,255,255);
display: none;
font: 1.25em/24px BrandonGrotesqueReg, sans-serif;
height: 100%;
left: 0;
position: absolute;
text-align: center;
text-transform: uppercase;
top: 0;
width: 100%;
}

div.content div.articles article figcaption span
{
display: block;
position: absolute;
left: 0;
top: 45%;
width: 100%;
text-align: center;

}

div.content div.articles article figure:hover figcaption
{
display: block;
}

div.homepage div.content div.articles article p.time
{
margin-bottom: 12px;
}

div.content div.articles.news p.time
{
background: rgb(102,102,102);
color: rgb(255,255,255);
float: left;
font: 0.875em/18px sans-serif;
margin: 20px 0 0 0;
padding: 6px 0 8px 0;
text-align: center;
width: 3.125rem;
}

div.content:not([role='main']) div.articles.news p.time
{
margin-top: 15px;
}

div.homepage div.content div.articles.news p.time
{
margin-top: 0;
position: absolute;
}

div.content:not([role='main']) div.articles.news p:not(.time)
{
clear: both;
}

div.content[role='main'] div.articles > p.more
{
font: 1.25em/normal BrandonGrotesqueReg, sans-serif;
margin: 0 0 0 1.875em;
text-align: center;
text-transform: uppercase;
}

div.content[role='main'] div.articles.news > p
{
clear: both;
color: rgb(102,102,102);
font: 1.25em/normal BrandonGrotesqueReg, sans-serif;
margin: 17px 0 23px 1.875em;
text-align: center;
text-transform: uppercase;
}

div.content:not([role='main']) div.articles > p.more
{
font: 1.25em/normal BrandonGrotesqueReg, sans-serif;
margin-bottom: 0;
text-align: center;
text-transform: uppercase;
}

div.content[role='main'] div.articles:not(.news) > p.more a
{
background: rgb(1,35,122);
border-radius: 4px;
color: rgb(255,255,255);
display: inline-block;
padding: 10px 70px 10px 70px;
text-decoration: none;
}

div.content:not([role='main']) div.articles > p.more a, div.content[role='main'] div.articles.news > p.more a
{
color: rgb(102,102,102);
display: inline-block;
text-decoration: none;
}

div.content[role='main'] div.articles:not(.news) > p.more a:hover
{
background: rgb(0,159,227);
}

div.content:not([role='main']) div.articles > p.more a:hover, div.content[role='main'] div.articles.news > p.more a:hover
{
color: rgb(1,35,122);
}


/* rychly kontakt */


div.content div.quick-contact
{
background: rgb(0,159,227);
float: right;
width: 18.75em;
}

div.content div.quick-contact p
{
color: rgb(1,35,122);
font: 0.875em/28px sans-serif;
margin-bottom: 0;
padding: 19px 1.875rem 19px 1.875rem;
}

div.content div.quick-contact a
{
font: bold 1em sans-serif;
}

div.content div.quick-contact p:first-child
{
background: rgb(1,35,122);
color: rgb(255,255,255);
font: 0.875em/20px sans-serif;
padding-bottom: 25px;
padding-top: 24px;
position: relative;
}

div.content div.quick-contact p:first-child:after
{
border-color: rgb(1,35,122) transparent transparent transparent;
border-style: solid;
bottom: -8px;
content: '';
height: 0;
left: 1.875rem;
position: absolute;
width: 0;
border-width: 8px 8px 0 8px;
}

div.content div.quick-contact p:first-child strong
{
font: 1.25em BrandonGrotesqueReg, sans-serif;
}


/* ad blok */


div.content a.ad
{
float: left;
text-decoration: none;
width: 18.75em;
}

div.content a.ad p:first-child
{
background: rgb(145,0,0);
color: rgb(255,255,0);
font: 0.875em/20px BrandonGrotesqueReg, sans-serif;
margin-bottom: 0;
padding: 24px 1.875rem 25px 1.875rem;
position: relative;
text-transform: uppercase;
}

div.content a.ad p:first-child:after
{
border-color: rgb(145,0,0) transparent transparent transparent;
border-style: solid;
bottom: -8px;
content: '';
height: 0;
left: 1.875rem;
position: absolute;
width: 0;
border-width: 8px 8px 0 8px;
}

div.content a.ad p:first-child strong
{
font: 1.25em BrandonGrotesqueReg, sans-serif;
}


/* vysledky vyhledavani */


div.content div.search-results
{
background: rgb(238,238,238);
border-radius: 4px;
margin: 20px 0 30px 0;
}

div.content div.search-results p:first-child
{
font: 0.875em/normal BrandonGrotesqueReg, sans-serif;
padding: 13px 10px 12px 10px;
text-transform: uppercase;
}

div.content div.search-results mark
{
background: none;
color: rgb(1,35,122);
font: 1em/normal BrandonGrotesqueMed, sans-serif;
}

div.content div.search-results samp
{
color: rgb(1,35,122);
font: 1em BrandonGrotesqueMed, sans-serif;
}


/* PATICKA: */


div[class*='page'] > footer
{
margin: 0 auto 0 auto;
padding: 27px 0 27px 0;
width: 60em;
}

footer p.site-owner
{
color: rgb(0,0,0);
font: 1em/18px sans-serif;
margin-bottom: 4px;
}

footer p.created-by
{
color: rgb(0,0,0);
font: 0.75em/18px sans-serif;
}

footer div.credits a
{
color: rgb(0,0,0);
}

footer div.credits a:hover
{
text-decoration: none;
}


/* MODALY */


div.modals
{
display: none;
}

div.content.modal
{
background: rgb(255,255,255);
padding: 15px 20px 20px 20px;
}

div.ui-widget-overlay
{
background: rgba(0,0,0,0.8);
height: 100%;
width: 100%;
position: fixed;
left: 0;
top: 0;
z-index: 101;
}

div.ui-dialog
{
z-index: 102;
}

button.ui-dialog-titlebar-close
{
background: rgb(221,221,221);
border: none;
cursor: pointer;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: -40px;
top: 0;
width: 40px;
}

button.ui-dialog-titlebar-close span.ui-icon-closethick
{
background: url('../img/icons-h.png') -477px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 8px;
}

button.ui-dialog-titlebar-close:hover
{
background: rgb(170,0,0);
}

button.ui-dialog-titlebar-close:hover span.ui-icon-closethick
{
background: url('../img/icons-h.png') -445px center no-repeat;
}

span.ui-dialog-title, button.ui-dialog-titlebar-close span.ui-button-text
{
display: none;
}

div.content.modal > p:first-child
{
border-bottom: 1px solid rgb(204,204,204);
font: 0.875em/normal BrandonGrotesqueReg, serif;
margin-bottom: 20px;
padding-bottom: 5px;
text-transform: uppercase;
}

div.content.modal div.modal-form input[type='text']:not(.datepicker)
{
padding-left: 9px;
padding-right: 9px;
width: 440px;
}

div.content.modal div.modal-form input.datepicker
{
margin-right: 20px;
padding-left: 9px;
padding-right: 9px;
width: 290px;
}

div.content.modal div.modal-form textarea
{
padding-left: 9px;
padding-right: 9px;
width: 440px;
}

div.content.modal div.modal-form button[type='submit']
{
padding-left: 45px;
padding-right: 45px;
}

div.content.modal div.modal-form fieldset p
{
margin-bottom: 19px;
}

div#we-call-back.content.modal div.modal-form fieldset p:not(.note)
{
float: left;
}

div#we-call-back.content.modal label[for='we-call-back-id3']
{
visibility: hidden;
}

div.content.modal div.modal-form div.newListSelected
{
width: 128px;
}

div.content.modal div.modal-form p.note
{
float: right;
width: auto;
}



/* FANCYBOX */


/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 */

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	margin-left: -20px;
	cursor: pointer;
	overflow: hidden;
	z-index: 1104;
	display: none;
}

#fancybox-loading div {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 480px;
	background-image: url('../img/fancybox.png');
}

#fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1100;
	display: none;
}

#fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	overflow: auto;
	display: none;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	z-index: 1101;
	outline: none;
	display: none;
}

#fancybox-outer
{
background: none;
height: 100%;
position: relative;
width: 100%;
}

#fancybox-content {
	width: 0;
	height: 0;
	padding: 0;
	outline: none;
	position: relative;
	overflow: hidden;
	z-index: 1102;
	border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 1101;
}

#fancybox-close
{
background: rgb(221,221,221);
cursor: pointer;
height: 40px;
margin: 0;
padding: 0;
position: absolute;
right: -40px;
top: 0;
width: 40px;
}

#fancybox-close:hover
{
background: rgb(170,0,0);
}

#fancybox-close span.ico
{
background: url('../img/icons-h.png') -477px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 8px;
}

#fancybox-close:hover span.ico
{
background: url('../img/icons-h.png') -445px center no-repeat;
}

#fancybox-error
{
color: rgb(255,0,0);
font: 12px/20px sans-serif;
padding: 14px;
margin: 0;
}

#fancybox-img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	line-height: 0;
	vertical-align: top;
}

#fancybox-frame {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
}

#fancybox-left, #fancybox-right
{
background: rgb(221,221,221);
bottom: 0;
cursor: pointer;
display: none;
height: 40px;
overflow: hidden;
position: absolute;
width: 40px;
z-index: 1102;
}

#fancybox-left
{
left: -40px;
}

#fancybox-right
{
right: -40px;
}

#fancybox-left:hover, #fancybox-right:hover
{
background: rgb(1,35,122);
}

#fancybox-left-ico, #fancybox-right-ico
{
overflow: hidden;
position: absolute;
z-index: 1102;
}

#fancybox-left-ico
{
background: url('../img/icons-h.png') -485px center no-repeat;
height: 8px;
left: 16px;
overflow: hidden;
position: absolute;
top: 16px;
width: 7px;
}

#fancybox-left:hover #fancybox-left-ico
{
background: url('../img/icons-h.png') -492px center no-repeat;
}

#fancybox-right-ico
{
background: url('../img/icons-h.png') -499px center no-repeat;
height: 8px;
overflow: hidden;
position: absolute;
right: 16px;
top: 16px;
width: 7px;
}

#fancybox-right:hover #fancybox-right-ico
{
background: url('../img/icons-h.png') -506px center no-repeat;
}

.fancybox-bg
{
display: none;
}

#fancybox-title
{
z-index: 1102;
}

.fancybox-title-inside
{
background: rgb(255,255,255);
color: rgb(0,0,0);
font: 13px/18px RobotoRegular, sans-serif;
margin: 0 !important;
padding: 0 20px 16px 20px;
}

.fancybox-title-inside samp
{
color: rgb(1,35,122);
font: 13px BrandonGrotesqueReg, sans-serif;
}

.fancybox-title-outside
{
}

.fancybox-title-over
{
bottom: 0;
left: 0;
position: absolute;
}

#fancybox-title-over
{
display: block;
}

.fancybox-title-float
{
bottom: -20px;
left: 0;
position: absolute;
}

#fancybox-title-float-wrap {
	border: none;
	border-collapse: collapse;
	width: auto;
}

#fancybox-title-float-wrap td {
	border: none;
	white-space: nowrap;
}

#fancybox-title-float-left
{
}

#fancybox-title-float-main
{
}

#fancybox-title-float-right
{
}
