/* WWW.???.CZ, MEDIA SCREEN ie7 */



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
{
display: block;
}

audio, canvas, video
{
display: inline;
zoom: 1;
}

[hidden] {
display: none;
}

a img
{
border: none;
}

img
{
-ms-interpolation-mode: bicubic;
}

form textarea
{
overflow: auto;
}

header div.products.level1 ul, header div.products.level1 li:first-child a, header div.products.level1 li:last-child a, header div.products.level2 ul, header div.products.level2 li:first-child a, header div.products.level2 li:last-child a,
div.content[role='main'] div.articles > p.more a, /*div.content div.path, */div.content div.bookmarks, div.content div.bookmarks li:first-child a, div.content div.bookmarks samp,
/*div.content table thead th:first-child, div.content table thead th:last-child,*/
div.content form input[type='text'], div.content form input[type='password'], div.content form textarea, div.content div.form div.newListSelected, div.content form input[type='submit'], div.content form button[type='submit'], div.content form input[type='button'], div.content form button[type='button'], div.content div.form p.message
{
behavior: url('PIE.htc');
position: relative;
}

div.content div.form div.newListSelected div.SSContainerDivWrapper
{
behavior: url('PIE.htc');
}

div.content div.products a.item h2
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2FFFFFF,endColorstr=#B2FFFFFF);
zoom: 1;
}

div.content div.products a.item:hover h2
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F666666,endColorstr=#7F666666);
zoom: 1;
}

div.content div.products a.item.ad h2
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2910000,endColorstr=#B2910000);
zoom: 1;
}

div.content div.articles.news p.time
{
width: 50px;
}

div.content div.quick-contact p
{
padding: 19px 30px;
}

div.content div.quick-contact p:first-child:after
{
left: 30px;
}

div.content div.articles article figcaption
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F666666,endColorstr=#7F666666);
zoom: 1;
}

div.content a.ad p:first-child
{
padding: 24px 30px 25px;
}

div.content a.ad p:first-child:after
{
left: 30px;
}

div.content:not([role='main']) div.articles.news h3
{
width: 235px;
}

div.content div.bookmarks samp
{
min-width: 21px;
}

div.content ol li
{
padding: 0 0 0 16px;
}

div.content div.gallery p.caption
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F666666,endColorstr=#7F666666);
zoom: 1;
}

div.content form input[type='text'], div.content form input[type='password'], div.content form textarea
{
padding: 9px 9px 8px;
}

div.content div.form div.newListSelected div.selectedTxt
{
padding: 9px;
}

div.content div.contact-form input[type='text'], div.content div.contact-form textarea
{
width: 445px;
}

div.ui-widget-overlay
{
background: transparent;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
zoom: 1;
}

button.ui-dialog-titlebar-close span.ui-icon-closethick
{
top: -4px;
}

header div.products li
{
display: inline;
}

div.content div.products, div.content div.articles
{
width: 105%;
}
